/* Dynamic table border styling */
.tanstack-table-border {
  border-collapse: collapse;
  border:1px;
}

.tanstack-table-border th,
.tanstack-table-border td {
  border: 1px solid var(--color-white);
  padding: 0.75rem;
}

.tanstack-table-border th {
  background-color: var(--color-table-header-bg);
  color: black;
  font-weight: 600;
  text-align: left;
  border-bottom: 2px solid var(--color-white);
}

.tanstack-table-border tr:nth-child(even) {
  background-color: var(--color-white);
}

.tanstack-table-border tr:hover {
  background-color: var(--color-white);
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: var(--color-table-striped);
}

.table-striped tbody tr:hover {
  background-color: var(--color-table-striped);
}
.bg-white{
  background-color: var(--color-white);
}
.secondary-color{
  color:var(--color-title);
}
.bg-icon{
  background-color: var(--color-background-icon);
}
.filter-bg{
  background-color: var(--color-table-header-bg);
}
.download-button{
  color: var(--color-white);
  background-color: var(--color-title);
}